.Task{
    border: 1px solid black;
}
.Task h6{
    display: inline-block;
    margin-left: 10px;
}
.Task p{
    display: inline-block;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}