.List{
    border: 1px solid black;
    height: 50px;
    position: relative;
}
.List input{
    display: inline-block;
    margin-left: 10px;
    height: 40px;
    font-size: 20px;
    width: 70%;
}
.List p{
    display: inline-block;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    position: absolute;
    right: 20px;



}

.List i{
    display: inline-block;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;




}
.warning{
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
}